[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
setuptools = "*"
llama_index = "*"
StorageContext = "*"
slack_bolt = "*"
[dev-packages]

[requires]
python_version = "3.11"
